:root {
  --spacer--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);
  --spacer--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
  --spacer--lg: clamp(32px, 8.8461525px + 6.615385vw, 75px);
  --fontFam: "Kdam Thmor Pro", sans-serif;
  --fontXS: clamp(0.8rem, 0.7548rem + 0.2065vw, 1rem);
  --fontS: clamp(0.95rem, 0.59090903rem + 0.727273vw, 1.2rem);
  --fontM: clamp(1.18rem, 0.94454538rem + 1.076364vw, 1.55rem);
  --fontL: clamp(1.35rem, 0.93636366rem + 1.890909vw, 2rem);
  --fontXL: clamp(1.5rem, 0.73636366rem + 3.490909vw, 2.7rem);
  --fontXXL: clamp(3rem, 2.5484rem + 2.0645vw, 5rem);
  --colorLight: #f2f2f2;
  --colorDark: #151515;
  --gradient: linear-gradient(45deg, #151515, #000);
  --transition-normal: all 250ms ease-in-out;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  font-family: var(--fontFam);
  background: var(--gradient);
  color: var(--colorLight); }

a {
  color: var(--colorLight); }

h1 {
  font-size: var(--fontXXL); }

h2 {
  font-size: var(--fontXL); }

h3 {
  font-size: var(--fontL); }

h4 {
  font-size: var(--fontS); }

p {
  line-height: 1.4;
  font-size: var(--fontXS); }

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer--lg);
  margin: var(--spacer--lg); }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient);
  border-bottom: 2px solid var(--colorLight);
  padding: var(--spacer--sm);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  .navbar__logo img {
    max-width: 300px;
    transition: all 0.3s; }
    .navbar__logo img:hover {
      transform: scale(1.04); }
  .navbar__label, .navbar__input {
    display: none; }
  .navbar__links {
    display: flex;
    gap: var(--spacer--sm); }
    .navbar__links--link {
      font-size: var(--fontS);
      text-transform: uppercase; }
      .navbar__links--link::after {
        content: "";
        display: block;
        background: var(--colorLight);
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: all 0.3s; }
      .navbar__links--link:hover {
        --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%); }

.footer-container {
  background: var(--gradient);
  border-top: 2px solid var(--colorLight);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacer--lg);
  padding: var(--spacer--lg); }
  .footer-container .footer-logo img {
    max-width: 300px;
    transition: all 0.3s; }
    .footer-container .footer-logo img:hover {
      transform: scale(1.04); }
  .footer-container .footer-links {
    display: flex;
    gap: var(--spacer--md);
    align-items: start; }
    .footer-container .footer-links__pagina {
      display: flex;
      flex-direction: column; }
      .footer-container .footer-links__pagina-titulo {
        font-size: var(--fontS);
        text-transform: uppercase;
        margin-bottom: 4px; }
        .footer-container .footer-links__pagina-titulo::after {
          content: "";
          display: block;
          background: var(--colorLight);
          height: 2px;
          clip-path: var(--clippy);
          transition: all 0.3s; }
        .footer-container .footer-links__pagina-titulo:hover {
          --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%); }
      .footer-container .footer-links__pagina-link {
        font-size: 0.8rem;
        margin-top: 2px; }

.hero-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/topito.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  border-bottom: 2px solid var(--colorLight);
  padding-top: calc(((67px + var(--spacer--sm) * 2))); }
  .hero-index img {
    max-width: 240px; }

.info-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .info-section__imagen {
    max-width: 480px;
    border: 1px solid var(--colorLight);
    transition: transform 0.3s; }
    .info-section__imagen:hover {
      transform: scale(1.04); }
  .info-section__texto {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    gap: calc(var(--spacer--sm) / 4); }

.btn {
  max-width: 120px;
  font-size: var(--fontXS);
  border-radius: 6px;
  padding: 4px;
  color: var(--colorDark);
  background-color: var(--colorLight);
  text-align: center;
  transition: all 0.3s;
  border: 1px solid var(--colorLight);
  margin-top: 8px;
  font-family: var(--fontFam); }
  .btn:hover {
    background: transparent;
    color: var(--colorLight);
    border: 1px solid var(--colorLight);
    transform: scale(1.04);
    cursor: pointer; }

.seccion-cards {
  display: flex;
  flex-direction: column;
  margin-top: calc( ((67px + var(--spacer--sm) * 2) - var(--spacer--lg)) + var(--spacer--sm));
  gap: var(--spacer--md); }
  .seccion-cards__text {
    display: flex;
    flex-direction: column; }
  .seccion-cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacer--md); }
    .seccion-cards__container .deskpad-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid var(--colorLight);
      border-radius: 11px;
      transition: all 0.3s;
      cursor: pointer;
      background-color: var(--colorDark); }
      .seccion-cards__container .deskpad-card:hover {
        transform: translateY(-4px);
        opacity: 0.8; }
      .seccion-cards__container .deskpad-card__img img {
        width: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px; }
      .seccion-cards__container .deskpad-card__text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 var(--spacer--sm) 6px var(--spacer--sm); }

.hero-nosotros {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/otro-sprinkles.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  border-bottom: 1px solid var(--colorLight);
  padding-top: calc(((67px + var(--spacer--sm) * 2))); }
  .hero-nosotros h1 {
    margin-left: var(--spacer--lg); }

.seccion-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer--lg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/rojito.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 99vh;
  padding-top: calc(((67px + var(--spacer--sm) * 2))); }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--spacer--sm) / 2); }
  .formulario__input {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .formulario__input label {
      font-size: var(--fontM); }
    .formulario__input input {
      padding: 6px 10px;
      border-radius: 8px;
      border: none; }
  .formulario__mensaje {
    display: flex;
    flex-direction: column; }
    .formulario__mensaje label {
      font-size: var(--fontM); }
    .formulario__mensaje textarea {
      margin-top: 6px;
      border-radius: 8px;
      border: none;
      resize: none; }

@media screen and (max-width: 800px) {
  .nav__label {
    display: block;
    cursor: pointer;
    padding-right: 25px; }
  .nav__links {
    position: fixed;
    height: calc(100vh - 15vh);
    bottom: 0;
    background: var(--gradient);
    width: 100%;
    left: 0;
    flex-direction: column;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    border-top: 2px solid var(--colorLight); }
  .nav__input:checked + .nav__links {
    clip-path: circle(100% at center); }
  .seccion-deskpads {
    flex-direction: column; }
    .seccion-deskpads__imagen {
      height: 500px;
      width: 500px; }
    .seccion-deskpads__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-deskpads__texto h2 {
        margin-top: 20px; }
      .seccion-deskpads__texto p {
        text-align: center; }
  .seccion-nosotros {
    flex-direction: column; }
    .seccion-nosotros__imagen {
      height: 500px;
      width: 500px; }
    .seccion-nosotros__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-nosotros__texto h2 {
        margin-top: 20px; }
      .seccion-nosotros__texto p {
        text-align: center; }
  .hero-nosotros h2 {
    font-size: 4rem;
    margin-left: 50px; }
  .seccion-jk-deskpads {
    flex-direction: column; }
    .seccion-jk-deskpads__imagen {
      height: 500px;
      width: 500px; }
    .seccion-jk-deskpads__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-jk-deskpads__texto h2 {
        margin-top: 20px;
        font-size: 2.8rem; }
      .seccion-jk-deskpads__texto p {
        text-align: center; }
  .seccion-historia {
    flex-direction: column; }
    .seccion-historia__imagen {
      height: 500px;
      width: 500px; }
    .seccion-historia__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-historia__texto h2 {
        margin-top: 20px;
        font-size: 2.8rem; }
      .seccion-historia__texto p {
        text-align: center; }
  .seccion-dream-team {
    flex-direction: column; }
    .seccion-dream-team__imagen {
      height: 500px;
      width: 500px; }
    .seccion-dream-team__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-dream-team__texto h2 {
        margin-top: 20px;
        font-size: 2.8rem; }
      .seccion-dream-team__texto p {
        text-align: center; }
  .seccion-formulario {
    flex-direction: column;
    align-items: center; }
    .seccion-formulario h1 {
      font-size: 3rem;
      margin: 120px 0 20px 0; }
  .formulario {
    margin-top: 0; }
  .footer-container {
    grid-template-columns: 1fr; }
  .footer-links {
    margin: 5% 0 0 5%; }
  .footer-links__pagina .footer-link__titulo {
    font-size: 1rem; } }

@media screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
    height: 18vh; }
    .nav__logo {
      margin: 0; }
    .nav__label {
      padding-right: 0; }
    .nav__links {
      height: calc(100vh - 18vh); }
  .hero-index img {
    height: 25%; }
  .seccion-deskpads__imagen {
    height: 300px;
    width: 300px; }
  .seccion-deskpads__texto {
    width: 70%; }
    .seccion-deskpads__texto h2 {
      font-size: 2.5rem; }
  .seccion-nosotros__imagen {
    height: 300px;
    width: 300px; }
  .seccion-nosotros__texto {
    width: 70%; }
    .seccion-nosotros__texto h2 {
      font-size: 2.5rem; }
  .deskpad-card__text {
    font-size: 1.2rem; }
  .deskpad-card__boton {
    padding: 4px 12px;
    font-size: 1rem;
    margin-top: 2px; }
  .seccion-jk-deskpads__imagen {
    height: 300px;
    width: 300px; }
  .seccion-jk-deskpads__texto {
    width: 70%; }
    .seccion-jk-deskpads__texto h2 {
      font-size: 2.5rem; }
  .seccion-historia__imagen {
    height: 300px;
    width: 300px; }
  .seccion-historia__texto {
    width: 70%; }
    .seccion-historia__texto h2 {
      font-size: 2.5rem; }
  .seccion-dream-team__imagen {
    height: 300px;
    width: 300px; }
  .seccion-dream-team__texto {
    width: 70%; }
    .seccion-dream-team__texto h2 {
      font-size: 2.5rem; }
  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px; }
  .footer-link__titulo {
    margin-top: 20px; }
  footer p {
    bottom: 20px;
    right: 30px; } }
