* {
  margin: 0;
  padding: 0;
  font-family: "Kdam Thmor Pro", sans-serif; }

body {
  background-color: #101010;
  color: #fff;
  width: 100%; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: #101010;
  border-bottom: 2px solid #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999; }
  .nav__logo {
    display: flex;
    align-items: center;
    margin-left: 5%; }
    .nav__logo img {
      max-width: 300px;
      transition: transform 0.3s; }
      .nav__logo img:hover {
        transform: scale(1.1); }
  .nav__label, .nav__input {
    display: none; }
  .nav__links {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    .nav__links li {
      list-style-type: none;
      padding: 0 15px; }
  .nav__link {
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
    .nav__link::after {
      content: "";
      display: block;
      background: #fff;
      width: 90%;
      margin-top: 3px;
      height: 3px;
      clip-path: var(--clippy);
      transition: clip-path .3s; }
    .nav__link:hover {
      --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%); }

footer {
  padding: 5% 0;
  border-top: 2px solid #fff;
  position: absolute;
  width: 100%; }
  footer p {
    font-size: 0.8rem;
    position: absolute;
    right: 50px;
    bottom: 20px; }

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  justify-items: center;
  overflow: hidden; }

.footer-logo {
  align-self: center; }
  .footer-logo img {
    max-width: 300px;
    display: block;
    transition: transform 0.3s; }
    .footer-logo img:hover {
      transform: scale(1.1); }

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%; }
  .footer-links__pagina {
    display: flex;
    flex-direction: column; }
    .footer-links__pagina .footer-link__titulo {
      font-size: 1.2rem;
      margin-bottom: 5px;
      display: inline-block; }

.footer-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: 0.7rem; }

.hero-index {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/topito.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  border-bottom: 2px solid #fff; }
  .hero-index img {
    height: 30%; }
  .hero-index h2 {
    margin-top: 20px;
    font-size: 1.4rem; }

.seccion-deskpads {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 12px;
  border-bottom: 2px solid #fff; }
  .seccion-deskpads__imagen {
    background-image: url("../images/naaasaa.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    border: 1px solid #fff;
    transition: transform 0.3s; }
    .seccion-deskpads__imagen:hover {
      transform: scale(1.1); }
  .seccion-deskpads__texto {
    width: 30%;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column; }
    .seccion-deskpads__texto h2 {
      font-size: 3.5rem;
      margin-bottom: 20px; }
    .seccion-deskpads__texto a {
      padding: 10px 15px;
      width: 100px;
      font-size: 1rem;
      border-radius: 10px;
      color: #101010;
      background-color: #fff;
      margin-top: 25px;
      text-decoration: none;
      text-align: center;
      transition: transform 0.3s; }
      .seccion-deskpads__texto a:hover {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        transform: scale(1.1); }

.seccion-nosotros {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 12px; }
  .seccion-nosotros__imagen {
    background-image: url("../images/teamwork.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    border: 1px solid #fff;
    transition: transform 0.3s; }
    .seccion-nosotros__imagen:hover {
      transform: scale(1.1); }
  .seccion-nosotros__texto {
    width: 30%;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column; }
    .seccion-nosotros__texto h2 {
      font-size: 3.5rem;
      margin-bottom: 20px; }
    .seccion-nosotros__texto a {
      padding: 10px 15px;
      width: 100px;
      font-size: 1rem;
      border-radius: 10px;
      border: none;
      color: #101010;
      background-color: #fff;
      margin-top: 25px;
      text-decoration: none;
      text-align: center;
      transition: transform 0.3s; }
      .seccion-nosotros__texto a:hover {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        transform: scale(1.1); }

.hero-deskpads {
  background-image: url("../images/deskpadss.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 60vh; }

.seccion-shop {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccion-shop__text {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .seccion-shop__text h2 {
      font-size: 5rem; }
    .seccion-shop__text p {
      font-size: 1.4rem; }

.cards {
  margin-top: 70px;
  margin-bottom: 100px;
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px; }

.deskpad-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 30px 30px 20px 30px;
  transition: transform 0.3s; }
  .deskpad-card:hover {
    transform: translateY(-10px); }
  .deskpad-card__contenedor {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .deskpad-card__img img {
    width: 100%; }
  .deskpad-card__text {
    margin-top: 2px;
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .deskpad-card__boton {
    padding: 8px 16px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    margin-top: 2px;
    text-decoration: none;
    transition: transform 0.3s; }
    .deskpad-card__boton:hover {
      background: #fff;
      color: #101010;
      border: 1px solid #101010;
      transform: scale(1.1); }

.hero-nosotros {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/otro-sprinkles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 90vh;
  border-bottom: 1px solid #fff; }
  .hero-nosotros h2 {
    font-size: 5rem;
    margin-top: 150px;
    margin-left: 250px; }

.seccion-jk-deskpads {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 12px;
  border-bottom: 1px solid #fff; }
  .seccion-jk-deskpads__imagen {
    background-image: url("../images/otro-topo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    border: 1px solid #fff;
    transition: transform 0.3s; }
    .seccion-jk-deskpads__imagen:hover {
      transform: scale(1.1); }
  .seccion-jk-deskpads__texto {
    width: 30%;
    text-align: initial;
    display: flex;
    flex-direction: column; }
    .seccion-jk-deskpads__texto h2 {
      font-size: 3.5rem;
      margin-bottom: 20px; }

.seccion-historia {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 12px; }
  .seccion-historia__imagen {
    background-image: url("../images/mdq.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    border: 1px solid #fff;
    transition: transform 0.3s; }
    .seccion-historia__imagen:hover {
      transform: scale(1.1); }
  .seccion-historia__texto {
    width: 30%;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .seccion-historia__texto h2 {
      font-size: 3.5rem;
      margin-bottom: 20px; }

.seccion-dream-team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 12px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff; }
  .seccion-dream-team__imagen {
    background-image: url("../images/compas.png");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    border: 1px solid #fff;
    transition: transform 0.3s; }
    .seccion-dream-team__imagen:hover {
      transform: scale(1.1); }
  .seccion-dream-team__texto {
    width: 30%;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .seccion-dream-team__texto h2 {
      font-size: 3.5rem;
      margin-bottom: 20px; }

.seccion-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/rojito.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 90vh; }
  .seccion-formulario h1 {
    font-size: 5rem;
    margin-right: 250px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 120px; }
  .formulario__nombre {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .formulario__nombre label {
      font-size: 1.8rem; }
    .formulario__nombre input {
      padding: 8px 15px;
      border-radius: 30px;
      border: none;
      width: 50%; }
  .formulario__email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; }
    .formulario__email label {
      font-size: 1.8rem; }
    .formulario__email input {
      padding: 8px 15px;
      border-radius: 30px;
      border: none;
      width: 50%; }
  .formulario__mensaje {
    display: flex;
    flex-direction: column;
    margin-top: 10px; }
    .formulario__mensaje label {
      font-size: 1.8rem; }
    .formulario__mensaje textarea {
      margin-top: 10px;
      border-radius: 10px;
      border: none;
      resize: none; }
  .formulario__boton input {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    transition: transform 0.3s; }
    .formulario__boton input:hover {
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      transform: scale(1.1); }

@media screen and (max-width: 800px) {
  .nav__label {
    display: block;
    cursor: pointer;
    padding-right: 25px; }
  .nav__links {
    position: fixed;
    height: calc(100vh - 15vh);
    bottom: 0;
    background: #101010;
    width: 100%;
    left: 0;
    flex-direction: column;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    border-top: 2px solid #fff; }
  .nav__input:checked + .nav__links {
    clip-path: circle(100% at center); }
  .seccion-deskpads {
    flex-direction: column; }
    .seccion-deskpads__imagen {
      height: 500px;
      width: 500px; }
    .seccion-deskpads__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-deskpads__texto h2 {
        margin-top: 20px; }
      .seccion-deskpads__texto p {
        text-align: center; }
  .seccion-nosotros {
    flex-direction: column; }
    .seccion-nosotros__imagen {
      height: 500px;
      width: 500px; }
    .seccion-nosotros__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-nosotros__texto h2 {
        margin-top: 20px; }
      .seccion-nosotros__texto p {
        text-align: center; }
  .hero-deskpads {
    background-position: center; }
  .seccion-shop__text h2 {
    font-size: 4rem; }
  .cards {
    grid-template-columns: 1fr; }
  .hero-nosotros h2 {
    font-size: 4rem;
    margin-left: 50px; }
  .seccion-jk-deskpads {
    flex-direction: column; }
    .seccion-jk-deskpads__imagen {
      height: 500px;
      width: 500px; }
    .seccion-jk-deskpads__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-jk-deskpads__texto h2 {
        margin-top: 20px;
        font-size: 2.8rem; }
      .seccion-jk-deskpads__texto p {
        text-align: center; }
  .seccion-historia {
    flex-direction: column; }
    .seccion-historia__imagen {
      height: 500px;
      width: 500px; }
    .seccion-historia__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-historia__texto h2 {
        margin-top: 20px;
        font-size: 2.8rem; }
      .seccion-historia__texto p {
        text-align: center; }
  .seccion-dream-team {
    flex-direction: column; }
    .seccion-dream-team__imagen {
      height: 500px;
      width: 500px; }
    .seccion-dream-team__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .seccion-dream-team__texto h2 {
        margin-top: 20px;
        font-size: 2.8rem; }
      .seccion-dream-team__texto p {
        text-align: center; }
  .seccion-formulario {
    flex-direction: column;
    align-items: center; }
    .seccion-formulario h1 {
      font-size: 3rem;
      margin: 120px 0 20px 0; }
  .formulario {
    margin-top: 0; }
  .footer-container {
    grid-template-columns: 1fr; }
  .footer-links {
    margin: 5% 0 0 5%; }
  .footer-links__pagina .footer-link__titulo {
    font-size: 1rem; } }

@media screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
    height: 18vh; }
    .nav__logo {
      margin: 0; }
    .nav__label {
      padding-right: 0; }
    .nav__links {
      height: calc(100vh - 18vh); }
  .hero-index img {
    height: 25%; }
  .seccion-deskpads__imagen {
    height: 300px;
    width: 300px; }
  .seccion-deskpads__texto {
    width: 70%; }
    .seccion-deskpads__texto h2 {
      font-size: 2.5rem; }
  .seccion-nosotros__imagen {
    height: 300px;
    width: 300px; }
  .seccion-nosotros__texto {
    width: 70%; }
    .seccion-nosotros__texto h2 {
      font-size: 2.5rem; }
  .deskpad-card__text {
    font-size: 1.2rem; }
  .deskpad-card__boton {
    padding: 4px 12px;
    font-size: 1rem;
    margin-top: 2px; }
  .seccion-jk-deskpads__imagen {
    height: 300px;
    width: 300px; }
  .seccion-jk-deskpads__texto {
    width: 70%; }
    .seccion-jk-deskpads__texto h2 {
      font-size: 2.5rem; }
  .seccion-historia__imagen {
    height: 300px;
    width: 300px; }
  .seccion-historia__texto {
    width: 70%; }
    .seccion-historia__texto h2 {
      font-size: 2.5rem; }
  .seccion-dream-team__imagen {
    height: 300px;
    width: 300px; }
  .seccion-dream-team__texto {
    width: 70%; }
    .seccion-dream-team__texto h2 {
      font-size: 2.5rem; }
  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px; }
  .footer-link__titulo {
    margin-top: 20px; }
  footer p {
    bottom: 20px;
    right: 30px; } }
