// Seccion Formulario
.seccion-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../images/rojito.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 95vh;
    h1{
        font-size: 4rem;
        margin-right: 250px;
    }
}

// Formulario
.formulario{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 120px;
    &__nombre{
        display: flex;
        align-items: center;
        justify-content: space-between;
        label{
            font-size: 1.8rem;
        }
        input{
            padding: 8px 15px;
            border-radius: 30px;
            border: none;
        }
    }
    &__email{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        label{
            font-size: 1.8rem;
        }
        input{
            padding: 8px 15px;
            border-radius: 30px;
            border: none;
        }
    }
    &__mensaje{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        label{
            font-size: 1.8rem;
        }
        textarea{
            margin-top: 10px;
            border-radius: 10px;
            border: none;
            resize: none;
        }
    }
    &__boton {
        input{
            padding: 10px 20px;
            cursor: pointer;
            background-color: white;
            border: none;
            border-radius: 30px;
            margin-top: 10px;
            transition: transform 0.3s;
            &:hover{
                background: transparent;
                color: #fff;
                border: 1px solid #fff;
                transform: scale(1.1);
            }
        }
    }
}
