// Ajustes Globales
*{
    margin: 0;
    padding: 0;
    font-family: "Kdam Thmor Pro", sans-serif;
}

body{
    background-color: black;
    color: white;
    width: 100vw;
}

// Extends
.formulario__input{
    padding: 8px 15px;
    border-radius: 30px;
    border: none;
}
.formulario__font-size{
    font-size: 1.8rem;
}

// Mixin
@mixin formulario__espaciado($alineacion, $margen) {
    display: flex;
    align-items: $alineacion;
    justify-content: space-between;
    margin-top: $margen;
}

// Mapa
$redesSociales: (
    snapchat: #FFFC00,
    tiktok: #ff0050,
    twitter: #1DA1F2,
);

// Bucle each
@each $nombre, $color-icono in $redesSociales {
    .link-#{$nombre} {
        font-size: 1.7rem;
        margin: 0 20px;
        text-decoration: none;
        border-radius: 10px;
        color: $color-icono;
    }
}

// Navegacion
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: black;
    border-bottom: 1px solid white;

    &__logo{
        display: flex;
        align-items: center;
        margin-left: 5%; 

        img{
            max-width: 300px;
            transition: transform 0.3s;
            
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    &__links{
        display: flex;
        justify-content: space-around;

        li{
            list-style-type: none;
            padding: 0 15px;

            a{
                text-decoration: none;
                font-size: 1.2rem;
                color: #fff;
                text-transform: uppercase;

                &:hover{
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
}

// Formulario
.seccion-formulario{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../images/rojito.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 80vh;

    h1{
        font-size: 4rem;
    }

    .formulario{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__nombre{
            
            @include formulario__espaciado(center, 0);
            
            label{
                @extend .formulario__font-size
            }

            input{
                @extend .formulario__input
            }
        }

        &__email{

            @include formulario__espaciado(center, 10px);

            label{
                @extend .formulario__font-size
            }

            input{
                @extend .formulario__input
            }
        }

        &__mensaje{
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label{
                @extend .formulario__font-size
            }

            textarea{
                margin-top: 10px;
                border-radius: 10px;
                border: none;
                resize: none;
            }
        }

        &__boton{
            input{
                padding: 10px 20px;
                cursor: pointer;
                background-color: white;
                border: none;
                border-radius: 30px;
                margin-top: 10px;
                transition: transform 0.3s;

                &:hover{
                    background: transparent;
                    color: #fff;
                    border: 1px solid #fff;
                    transform: scale(1.1);
                }
            }
        }
    }
}

// Footer
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid white;
    height: 15vh;
    overflow: hidden;

    p{
        font-size: 1.1rem;
    }
}
.footer-logo{
    img{
        max-width: 300px;
        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1)
        }
    }
}

// Medias Queries
@media screen and (max-width: 800px) {
    // Navegacion
    .nav{
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;

        &__logo{
            margin: 0;
            padding-top: 20px; 
        }

        &__links{
            padding-bottom: 10px;
        }
    }

    // Formulario
    .seccion-formulario{
        flex-direction: column;
        align-items: center;
        
        h1{
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 500px) {
    // Navegacion
    .nav__links{
        li{
            a{
                font-size: 0.8rem;
            }
        }
    }
    .nav__logo{
        img{
            max-width: 250px;
        }
    }
    .seccion-formulario{
        .formulario{
            width: 80vw;
        }
    }

    //Footer
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}