// Seccion Shop
.seccion-cards {
  display: flex;
  flex-direction: column;
  margin-top: calc(
    ((67px + var(--spacer--sm) * 2) - var(--spacer--lg)) + var(--spacer--sm)
  );
  gap: var(--spacer--md);
  &__text {
    display: flex;
    flex-direction: column;
  }
  // Cards
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacer--md);

    .deskpad-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid var(--colorLight);
      border-radius: 11px;
      transition: all 0.3s;
      cursor: pointer;
      background-color: var(--colorDark);
      &:hover {
        transform: translateY(-4px);
        opacity: 0.8;
      }
      &__img {
        img {
          width: 100%;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
      }
      &__text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 var(--spacer--sm) 6px var(--spacer--sm);
      }
    }
  }
}
