// Header
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient);
  padding: var(--spacer--sm);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  @include border-b;
  &__logo {
    img {
      max-width: 300px;
      @include transition;
      &:hover {
        transform: scale(1.04);
      }
    }
  }
  &__bars {
    display: none;
    font-size: 2rem;
  }
  &__links {
    display: flex;
    gap: var(--spacer--sm);
    margin-top: 5px;

    &--link {
      font-size: var(--fontS);
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        background: var(--colorLight);
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        @include transition;
      }
      &:hover {
        --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
      }
    }
  }
}

// Footer
.footer-container {
  background: var(--gradient);
  @include border-t;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacer--lg);
  padding: var(--spacer--lg);

  .footer-logo {
    img {
      max-width: 300px;
      @include transition;
      &:hover {
        transform: scale(1.04);
      }
    }
  }

  .footer-links {
    display: flex;
    gap: var(--spacer--md);

    &__pagina {
      display: flex;
      flex-direction: column;
      &-titulo {
        font-size: var(--fontS);
        text-transform: uppercase;
        margin-bottom: 4px;
        &::after {
          content: "";
          display: block;
          background: var(--colorLight);
          height: 2px;
          clip-path: var(--clippy);
          @include transition;
        }
        &:hover {
          --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
        }
      }
      &-link {
        font-size: 0.8rem;
        margin-top: 2px;
      }
    }
  }
}
