// Header
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--gradient);
  border-bottom: 2px solid var(--colorLight);
  padding: var(--spacer--sm);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  &__logo {
    img {
      max-width: 300px;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.04);
      }
    }
  }
  &__label,
  &__input {
    display: none;
  }
  &__links {
    display: flex;
    gap: var(--spacer--sm);

    &--link {
      font-size: var(--fontS);
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        background: var(--colorLight);
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: all 0.3s;
      }
      &:hover {
        --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
      }
    }
  }
}

// Footer
.footer-container {
  background: var(--gradient);
  border-top: 2px solid var(--colorLight);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacer--lg);
  padding: var(--spacer--md);

  .footer-logo {
    img {
      max-width: 300px;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.04);
      }
    }
  }

  .footer-links {
    display: flex;
    gap: var(--spacer--md);
    align-items: start;

    &__pagina {
      display: flex;
      flex-direction: column;
      &-titulo {
        font-size: var(--fontS);
        text-transform: uppercase;
      }
      &-link {
        font-size: 0.8rem;
        margin-top: 4px;
      }
    }
  }
}
