@media screen and (max-width: 800px) {
  // Header
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }
  .navbar__bars {
    display: block;
  }
  .navbar__links {
    position: fixed;
    flex-direction: column;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: calc(100vh - (116px + var(--spacer--sm) * 2));
    justify-content: space-evenly;
    align-items: center;
    background: var(--gradient);
    transition: all 0.3s;
    a {
      font-size: var(--fontM);
      width: max-content;
    }
  }
  .navbar__links.active {
    right: 0;
  }

  // Sections
  .info-section {
    flex-direction: column;
    gap: var(--spacer--sm);
    &__texto {
      text-align: center;
      align-items: center;
    }
  }

  // Reversed Section
  .reverse {
    flex-direction: column-reverse;
  }

  // Deskpads Cards
  .seccion-cards {
    margin-top: calc(
      ((116px + var(--spacer--sm) * 2) - var(--spacer--lg)) + var(--spacer--sm)
    );
  }

  // Contact Form
  .seccion-formulario {
    flex-direction: column;
  }

  // Footer
  .footer-container {
    flex-direction: column;

    .footer-links {
      flex-wrap: wrap;
    }
  }
}
