// Hero
.hero-nosotros {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/otro-sprinkles.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  @include border-b;
  @include padding-header; // Header

  h1 {
    margin-left: var(--spacer--lg);
  }
}
